div
{
	border: 20px solid teal;
	font-family: Arial, sans-serif;
	font-size: 28px;
	font-weight: bold;
	background-color: teal;
	width: 1900px;
	
	
}
	
	
	#top{
		
		height: 60px;
	}
	
	#middleSection{
		
		height: 800px;
		background-color: red;
		border: 20px solid red;
	}
	
	#bottom{
		
		height: 200px;
	}